
<!-- BLOCK MODAL -->
<div class="modal" id="block-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Block</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



      <div class="modal-body">

        <form id="block-form">


          <!-- ACTION -->
          <div class="form-group">
            <label for="block-action">Block Name</label>
            <input type="text" class="nt-field form-control" id="block-action" name="action" required="true" data-popover="Text that will appear in the block itself." value="My Block">
          </div>


          <!-- BLOCK TYPE -->
          <div class="form-group">
            <label for="block-type">Type</label>
            <input 
              id="block-type" 
              name="type"
              type="text" 
              class="nt-field form-control" 
              list="typelist" 
              data-popover="Type is a hint provided to the language formatter. NetLogo procedures must have the type, nlogo:procedure.">
            <datalist id="typelist">
              <option>nlogo:procedure</option>
              <option>nlogo:command</option>
              <option>nlogo:if</option>
              <option>nlogo:ifelse</option>
              <option>nlogo:ask</option>
            </datalist>
          </div>


          <!-- FORMAT -->
          <div class="form-group">
            <label for="block-format">Format</label>
            <input type="text" class="form-control nt-field" id="block-format" name="format" style="font-family: monospace;" data-popover="How the block will be formatted in the destination language. <br>Parameters can be referenced by their order: {0}, {1}, {2}. <br>Properties can be accessed with a 'P' prefix: {P0}, {P1}<br>Examples: <br><code>crt {0} [ set size {P0} ]</code><br><code>forward {0}">
          </div>



          <div class="form-group row">

            <!-- START BLOCK -->
            <div class="col-sm">
              <label for="block-start">Start Block?</label>
              <select class="form-control nt-field" id="block-start" name="start" data-popover="Start blocks start a chain of blocks (they cannot be connected below another block).">
                <option>No</option>
                <option>Yes</option>
              </select>
            </div>


            <!-- CONTROL BLOCK -->
            <div class="col-sm">
              <label for="block-control">Control Block?</label>
              <select class="form-control nt-field" id="block-control" name="control" data-popover="Control blocks have other blocks nested inside them.">
                <option>No</option>
                <option>Yes</option>
              </select>
            </div>


            <!-- LIMIT -->
            <div class="col-sm">
              <label for="block-limit">Limit</label>
              <input type="number" class="form-control nt-field" id="block-limit" name="limit" data-popover="Optional limit to the number of blocks allowed in the user's program? NetLogo procedures should have a limit of 1. Leave blank to indicate unlimited blocks.">
            </div>
          </div>



          <!-- FONT WEIGHT -->
          <div class="form-group row">
            <div class="col-sm">
              <label for="block-font-weight">Font Weight</label>
              <input id="block-font-weight" class="form-control nt-field" type="number" name="font-weight" value="400" list="font-weight-list">
              <datalist id="font-weight-list">
                <option>100</option>
                <option>200</option>
                <option>300</option>
                <option>400</option>
                <option>500</option>
                <option>600</option>
                <option>700</option>
                <option>800</option>
                <option>900</option>
              </datalist>
            </div>


            <!-- FONT SIZE -->
            <div class="col-sm">
              <label for="block-font-size">Font Size (px)</label>
              <input class="form-control nt-field" type="number" id="block-font-size" name="font-size" value="14">
            </div>


            <!-- FONT TYPEFACE -->
            <div class="col-sm">
              <label for="block-font">Typeface</label>
              <input class="form-control nt-field" type="text" id="block-font" name="font" value="'Poppins', sans-serif">
            </div>

          </div>



          <!-- BLOCK COLORS -->
          <div class="form-group row">
            <div class="col-sm">
              <label for="block-blockColor">Block Color</label>
              <input type="color" class="form-control form-control-sm nt-field" id="block-blockColor" name="blockColor" value="#6b9bc3" style="width: 50px; height: 35px;">
            </div>

            <div class="col-sm">
              <label for="block-textColor">Text Color</label>
              <input type="color" class="form-control form-control-sm nt-field" id="block-textColor" name="textColor" value="#ffffff" style="width: 50px; height: 35px;">
            </div>

            <div class="col-sm">
              <label for="block-borderColor">Border Color</label>
              <input type="color" class="form-control form-control-sm nt-field" id="block-borderColor" name="borderColor" value="#ffffff" style="width: 50px; height: 35px;">
            </div>
          </div>


          <!-- PARAMETERS -->
          <div id="param-list">
            <label>Parameters</label>
            <hr/>
          </div>
          <button type="button" class="btn btn-sm btn-primary" id="add-parameter" data-prefix="param">Add Parameter</button>
          <br><br>


          <!-- PROPERTIES -->
          <div id="prop-list">
            <label>Properties</label>
            <hr/>
          </div>
          <button type="button" class="btn btn-sm btn-primary" id="add-property" data-prefix="prop">Add Property</button>
          <br><br>


          <!-- PROPERTIES -->
          <div id="clause-options">
            <div id="clause-list">
              <label>Clauses (for Control blocks)</label>
              <hr/>
            </div>
            <button type="button" class="btn btn-sm btn-primary" id="add-clause">Add Clause</button>
          </div>


        </form>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="add-block" class="btn btn-primary" data-dismiss="modal">Add Block</button>
      </div>

    </div>
  </div>
</div>

