<div class="form-group row">


  <!-- CLAUSE NAME -->
  <div class="col-sm">
    <input class="form-control form-control-sm" data-id="clause-name" placeholder="clause name">
  </div>


  <!-- CLAUSE FORMAT -->
  <div class="col-sm">
    <input class="form-control form-control-sm" data-id="clause-format" style="font-family: monospace;" placeholder="clause format">
  </div>


  <!-- DELETE BUTTON -->
  <div class="col-sm">
    <button type="button" class="btn btn-danger btn-sm" data-id="clause-delete">Delete</button>
  </div>

</div>


