@charset "utf-8";

* { 
   -webkit-user-select: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
  font-family: Nunito, 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 125%;
}

.chapter {
  width: 800px;
  font-size: 20px;
  font-weight: 300;
  line-height: 140%;
  margin: 30px auto;
}

.block {
  background-color: #b67196;
  padding: 5px 15px;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

.content {
  width: 1000px;
  margin: 50px auto;
  background-color: white;
}

.world {
  position: relative;
  width: 950px;
  height: 550px;
  border: 0;
  margin: 0 auto;
  padding: 0;
}

#frog-workspace {
  display:block;
  position: absolute;
  top: 0;
  left: 0;
}

#frog-turtles {
  display:block;
  position: absolute;
  top: 0;
  left: 0;
  background-color:#356;
}

#mini-hist {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 10px;
  right: 10px;
  border-radius: 10px;
  color: white;
}

#big-plot {
  /*
  background-color: #eee;
  color: #666;
  */
  background-color: #222;
  color: cyan;
}

#big-hist {
  background-color: #222;
  color: #eee;
}
