# Don’t commit the following directories created by pub.
build/
packages
.buildlog

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map
.DS_Store

django/static
django/reese/settings.py
django/login.sh
django/*.pem
*.pyc

# Include when developing application packages.
pubspec.lock
