<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script>
        names = {};
        sessions = {};
        paritycounter = 1;
        sparity = 1;
        numImages = 0;
    </script>
</head>
<body>

<h2>Beetle Field Screenshots: <span id="numberOfImages"></span> total</h2>

<div id="container" style="background-color: lightgray"></div>

{% for im in images %}
<script>
    numImages++;


    if (!names['{{im.name}}']) {
        if (paritycounter == 1) {
            document.getElementById("container").innerHTML += "<h3 class='userwork'>New Network Connection</h3><div id='{{im.name}}' style='background-color:lemonchiffon; overflow:scroll; height:450px;'></div>";
        } else {
            document.getElementById("container").innerHTML += "<h3 class='userwork'>New Network Connection</h3><div id='{{im.name}}' style='background-color:lavender; overflow:scroll; height:450px;'></div>";
        }
        paritycounter = paritycounter * -1;
        sparity = 1;
        names['{{im.name}}'] = true;
    }
    if (!sessions ['{{im.sessionid}}']) {
        if (sparity == 1) {
            document.getElementById("{{im.name}}").innerHTML += "<h4 class='sessionwork'>New Student Work Session</h4><div id='{{im.sessionid}}' style='background-color:aliceblue; overflow:scroll; height:440px;'></div>";
        } else {
            document.getElementById("{{im.name}}").innerHTML += "<h4 class='sessionwork'>New Student Work Session</h4><div id='{{im.sessionid}}' style='overflow:scroll; height:440px;'></div>";
        }
        sparity = sparity * -1;
        sessions['{{im.sessionid}}'] = true;
    }
</script>
{% endfor %}

<script>
    document.getElementById("numberOfImages").innerHTML = numImages;
</script>

{% for im in images %}
    <script>
      htmlVar = "<img height='300' src='/site_media/{{im.imagedata}}'/><br>";
      annovar = "{{im.annotation}}";
      annovar = annovar.replace("?", "*");
      htmlVar += "caption: " + annovar + "<br>";
      htmlVar += "uploaded: {{im.logTime}} (Greenwich Mean Time)<br>";
      htmlVar += "<br>"
      document.getElementById("{{im.sessionid}}").innerHTML = htmlVar + document.getElementById("{{im.sessionid}}").innerHTML;
    </script>
{% endfor %}

</body>
</html>