.netlogo-header { display : none; }

.netlogo-speed-slider { display : none; }

.netlogo-tab-area { display: none; }

.netlogo-forever-icon { display: none; }

.netlogo-button { font-size: 130%; }

.netlogo-model { padding: 0px; }

.netlogo-container { margin: 0px; }