@charset "utf-8";

* { 
   -webkit-user-select: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);    
}

body {
  margin: 0;
  padding: 0;
  color: #ccc;
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #333;
}


.page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
}


#splash-page {
  background-image: url('../images/splash.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 768px;
  transition: opacity 0.5s;
}


canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

#frog-model {
  width: 1024px;
  height: 768px;
  background-color: #aaa;
  position: relative;
}

#frog-turtles {
  /* textures from deviantart hhh316 */
  z-index: 0;
  background-image: url('../images/texture.png');
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100%;
}

#frog-workspace {
  z-index: 1;
}


#plot {
   position: static;
   margin-left: auto;
   margin-right: auto;
}


#mini-plot {
  position: absolute;
  top: 10px;
  left: auto;
  right: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
}


#overlay {
  width: 1024px;
  height: 768px;
  position: absolute;
  left: 0px; top: 0px;
  background-color: transparent;
  visibility: hidden;
}


.dialog {
  background-color: rgba(0, 0, 0, 0.75);
  width: 750px;
  height: 580px;
  border-radius: 20px;
  position: absolute;
  top: 40px;
  left: 112px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  font: 30px sans-serif;
  color: white;
  padding-left: 50px;
  padding-top: 20px;
}


.close-button {
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../images/toolbar/close.png");
}

.close-button:active {
  background-position: 3px 3px;
}


.main-menu {
  position: absolute;
  width: 180px;
  height: 50px;
  bottom: 130px;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.6);
  font: bold 18px 'Helvetica Neue', sans-serif;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  text-shadow: rgba(30, 30, 30, 0.2) 1px 1px;
  text-align: center;
  outline: none;
  transition: opacity;
  transition-delay: 1.8s;
  transition-duration: 1s;
  opacity: 0.0;
}


.main-menu:active {
  background-position: 3px 3px;
}



#intro-button { left: 220px; }
#intro-button:active { bottom: 128px; left: 222px; }

#experiment-button { left: 420px; }
#experiment-button:active { bottom: 128px; left: 422px; }

#credits-button { left: 620px; }
#credits-button:active { bottom: 128px; left: 622px; }


